.month {
    /* float: left; */
    margin-left: 25px;
    margin-bottom: 30px;
    display: inline-block;
}

h1 {
    font-size: 18px;
    /* font-weight: normal; */
    width: 288px;
    text-align: center;
    margin-bottom: 15px;
}
table {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 0px;
    /* border-collapse: collapse; */
}
th {
    font-weight: normal;
    font-size: 13px;
    height: 10px;
    padding: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #e7e7e7;
}
td {
    font-size: 18px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 35px;
    width: 40px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
td.right {
    border-right: 1px solid black;
}
td.bottom {
    border-bottom: 1px solid black;
}
td.red {
    color: #ff424e;
}
td.orange {
    color: orange;
}
td.grey {
    color: lightgray;
}
td.blue {
    background-color: lightblue;
}
