<div
    id="month-container"
    [ngClass]="selectedPrintIsPortrait ? 'portrait' : 'album'"
>
    <sa-month *ngFor="let m of model.getMonths()" [model]="m"></sa-month>
</div>

<div id="control-panel">
    <div class="dropDown">
        <select [ngModel]="selectedYear" (ngModelChange)="onYearChange($event)">
            <option *ngFor="let y of years">{{ y }}</option>
        </select>
    </div>
    <div class="dropDown">
        <select
            [ngModel]="selectedCountry"
            (ngModelChange)="onCountryChange($event)"
        >
            <option *ngFor="let c of countries">{{ c }}</option>
        </select>
    </div>
    <div class="dropDown">
        <select
            [ngModel]="selectedPrintStyle"
            (ngModelChange)="onPrintStyleChange($event)"
        >
            <option *ngFor="let p of printStyles">{{ p }}</option>
        </select>
    </div>
    <div id="current-day">
        <input
            type="checkbox"
            id="cb-current-day"
            [(ngModel)]="currentDayIsOn"
            (ngModelChange)="onCurrentDayChange($event)"
        />
        <label for="cb-current-day">highligh current day</label>
    </div>
    <div id="combo">
        <input
            type="checkbox"
            id="cb-past"
            [(ngModel)]="disablingIsOn"
            (ngModelChange)="onDisablingChange($event)"
        />
        <label for="cb-past">disable past days</label>
    </div>
</div>
