#control-panel {
    position: fixed;
    margin-left: 1100px;
    margin-top: 10px;
}

#control-panel textarea {
    margin-top: 20px;
    width: 300px;
}

#month-container {
    width: 980px;
}

#cb-past {
    vertical-align: middle;
}

#combo {
    margin-top: 20px;
}

@media print {
    #control-panel {
        visibility: hidden;
    }
    #month-container {
        visibility: visible;
        position: absolute;
        left: 8px;
        top: 100px;
        zoom: 122%;
    }
}
