<div id="control-panel">
    <select [ngModel]="selectedYear" (ngModelChange)="onYearChange($event)">
        <option *ngFor="let y of years">{{ y }}</option>
    </select>
    <br />
    <br />
    <select
        [ngModel]="selectedCountry"
        (ngModelChange)="onCountryChange($event)"
    >
        <option *ngFor="let c of country">{{ c }}</option>
    </select>
    <br />
    <br />
    <div id="current-day">
        <input
            type="checkbox"
            id="cb-current-day"
            [(ngModel)]="currentDayIsOn"
            (ngModelChange)="onCurrentDayChange($event)"
        />
        <label for="cb-current-day">highligh current day</label>
    </div>
    <div id="combo">
        <input
            type="checkbox"
            id="cb-past"
            [(ngModel)]="disablingIsOn"
            (ngModelChange)="onDisablingChange($event)"
        />
        <label for="cb-past">disable past days</label>
    </div>
</div>

<div id="month-container">
    <sa-month *ngFor="let m of model.getMonths()" [model]="m"></sa-month>
</div>
