#control-panel {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

#control-panel textarea {
    margin-top: 20px;
    width: 300px;
}

#month-container {
    float: left;
}
.portrait {
    width: 970px;
}
.album {
    width: 1285px;
}

#cb-past {
    vertical-align: middle;
}

#combo {
    margin-top: 20px;
}

.dropDown {
    padding-bottom: 10px;
}

#current-day {
    padding-top: 10px;
}

@media print {
    #control-panel {
        visibility: hidden;
    }
    #month-container {
        visibility: visible;
        position: absolute;
    }
    .portrait {
        left: 8px;
        top: 100px;
        zoom: 122%;
    }
    .album {
        left: 40px;
        zoom: 82%;
        bottom: 5px;
    }
}
